[submodule "Part2"]
	path = Part2
	url = https://github.com/zku-cohort-3/tornado-nova.git
	branch = assignment
[submodule "Part1/contracts/lib/ds-test"]
	path = Part1/contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "Part1/MerkleTree/lib/ds-test"]
	path = Part1/MerkleTree/lib/ds-test
	url = https://github.com/dapphub/ds-test
